<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style.table.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estate - esercizio 15</title>
    </head>
    <body>
        <h1>BASKET STATS</h1>
        <hr>
        <h2>Registrazione giocatori:</h2>
        {% include "blocks/form.twig" %}
        <hr>
        <h2>MAIN PROGRAM:</h2>
        <hr>
        {% include "blocks/table.top5.twig" %}
        <hr>
        {% include "blocks/table.sostituzioni.twig" %}
        <hr>
        {% include "blocks/table.giocatori.twig" %}
        <hr>
    </body>
</html>