body {
    background-color: rgb(89, 161, 165);
    font-family:monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header ul {
    align-items: center;
}

.header li {
    display: inline-block;
}

.header a {
    font-size: 20px;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    color: #e43d40;
    margin: 10px;
    border-radius: 20px;
    padding: 8px;
}

h2 {
    font-size: 45px;
    color: #e43d40;
    margin: 10px;
    border-radius: 20px;
    padding: 8px;
    font-style: italic;
}

h3 {
    font-size: 30px;
    color: #f37970;
    margin: 0px;
    background-color: #ffffffe0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    text-align: center;
}

a {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.826);
    background-color:darkred;
    border-radius: 20px;
    padding: 8px;
    text-decoration: none;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;

}

label {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

select {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

legend {
    font-size: 30px;
    color: #e43d40;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    font-style: italic;
}

fieldset {
    background-color: #fabec0;
    border-radius: 20px;
    margin: 10px;
    text-align: left;
}

#f1 {
    height: 50px;
    width: 250px;
    border-radius: 20px;
}

#f2 {
    background-color: #f85c70;
    color: white;
    padding: 8px 30px 8px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 40px;
}

#f2:hover {
    background-color:blue;
    color:white;
    text-decoration: none;
}

#input {
    height: 40px;
    width: 160px;
    border-radius: 10px;
}

#input::placeholder {
    text-align: center;
}

/* ---------------------------------------------------------- */

ul {
    background-color: #fabec0;
    border-radius: 15px;
    margin: 15px 0;
    padding: 15px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul > li {
    font-size: 24px;
    color:  #e43d40;
    font-weight: bold;
}

ul ul {
    background-color: rgba(89, 161, 165, 0.6);
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 10px;
    box-shadow: none;
}

ul ul li {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 5px 0;
    padding: 3px 0;
    font-weight: normal;
    border: none;
}

ul ul li:contains("orario inizio"),
ul ul li:contains("orario fine") {
    color: orange;
    font-weight: bold;
}

h3 + p {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    text-align: center;
    padding: 20px;
    margin: 0;
    padding: 5px;
}