{% block sostituzioni %}
<div class="table-container sostituzioni-table">
    <table>
        <thead>
            <tr>
                <th colspan="3" class="table-title">SOSTITUZIONI PROPOSTE:</th>
            </tr>
            <tr>
                <th>Giocatore OUT</th>
                <th>    </th>
                <th>Giocatore IN</th>
            </tr>
        </thead>
            <tbody>
                {% for giocatore_out, giocatore_in in sostituzioni %}
                    <tr>
                        <td>{{ giocatore_out }} &#8595</td>
                        <td> ===> </td>
                        <td>&#8593 {{ giocatore_in }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}