<form action="" method="post" id="TEMA">
    <input type="hidden" name="azione" value="cambia_tema">
    <select name="tema">
        <option id="def_opt" disabled selected>scegli tema</option>
        <option value="centro_estetico">Centro estetico</option>
        <option value="gommista">Gommista</option>
        <option value="centro_medico">Centro medico</option>
        <option value="psicologo">Pscicologo</option>
    </select>
    <input type="submit" value="APPLICA" id="f1">
</form>