{% macro navigazione(pagine) %}
    <ul class="menu">
        {% for pagina in pagine %}
            <li><a href="{{ pagina.url }}">{{ pagina.label }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}