body {
    background-color: rgb(199, 199, 199);
    font-family: monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
}

div {
    max-width: 625px;
    padding: 60px 30px;
    margin: 25px;
    border-radius: 20px;
    overflow: hidden;
    background-image: url('../img/paper_test-removebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div p {
    text-align: left;
    column-count: 3;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}