{% block form %}
    {% for pagina in pagine %}
        <div>
            <h3>LORENZONI BIOTECH PRESS @GmbH - numero 23 - 26/07/2025</h3>
            {% for articolo in pagina %}
                <h4>{{articolo.argomento}}</h4>
                <h5>{{articolo.titolo}}</h5>
                <p>{{articolo.testo}}</p>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}