{% extends "main.twig" %}
{% block head %}
    <title>Pagina Gestori</title>
{% endblock %}
{% block header %}
    <hr>
        <nav>{{nav.navigazione(pagine)}}</nav>
    <hr>
    <h1>Disponibilità gestori</h1>
{% endblock %}

{% block main %}
    {# non ci serve il blocco main, quindi vuoto #}
{% endblock %}

{% block form_registra %}
    <h2>Registra operatore:</h2>
    {% include "blocks/form.registra.twig" %}
{% endblock %}

{% block form_disponibilita %}
    <h2>Scegli nominativo da elenco e data/ora disponibilità:</h2>
    {% include "blocks/form.gestori.disponibilita.twig" %}
{% endblock %}

{% block risultati %}
    <h2>Riepilogo disponibilità per giornata:</h2>
        {{table.table(disponibilita_gestori)}}
    <h2>Riepilogo disponibilità per gestore:</h2>
        {{table.table(disponibilita_gestori)}}
{% endblock %}