{% extends "main.twig" %}
{% block head %}
    <title>Estate - esercizio 18</title>
{% endblock %}
{% block header %}
    <h1>LORENZONI BIOTECH PRESS @GmbH</h1>
{% endblock %}
{% block main %}
    <div>
        <h2>Benvenuto! Accedi all'area GESTORI o CLIENTI:</h2>
        <a id="f2" href="gestori.html">GESTORI</a>
        <a id="f2" href="clienti.html">CLIENTI</a>
    </div>
{% endblock %}
{% block risultati %}
    <h2>Prenotazioni confermate:</h2>
    {{table.table(lista)}} {# importo macro per la tabella #}
{% endblock %}