{% block footer %}
    <hr>
    <span id="id-span">
        {% if riviste|length > 0 %}
            Editoriale attualmente pianificato: (scegli il numero di rivista da sfogliare)
        {% else %}
            Nessun editoriale pianificato
        {% endif %}
    </span>
    <footer class="footer">
        {% if riviste|length > 20 %}
            <input type="checkbox" id="expand-toggle" class="expand-checkbox">
        {% endif %}
        <ul class="magazine-list">
            {% for key, rivista in riviste %}
                <li class="magazine-item {% if loop.index > 20 %}hidden-item{% endif %}">
                    <a href="index.php?p=magazine&rivista={{loop.index}}">{{loop.index}}</a>
                </li>                
            {% endfor %}
            {% if riviste|length > 20 %}
                <li class="expand-btn">
                    <label for="expand-toggle" class="expand-label">
                        <span class="expand-text">+</span>
                        <span class="collapse-text">-</span>
                    </label>
                </li>
            {% endif %}
        </ul>
        <hr>
    </footer>
{% endblock %}