{% block footer %}
    <hr>
    <span id="id-span">
        {% if riviste|length > 0 %}
            Editoriale attualmente pianificato: (scegli il numero di rivista da sfogliare)
        {% else %}
            Nessun editoriale pianificato
        {% endif %}
    </span>
    <footer class="footer">
        <div class="pagination-container">
            <button class="nav-button load-less hidden-item">
                <span class="nav-text">-</span> <!--- TASTO "-" -->
            </button>
            
            <ul class="magazine-list" data-current-page="1" data-total-pages="{{ ((riviste|length) / 10)|round(0, 'ceil') }}">
                {% for key, rivista in riviste %}
                    <li class="magazine-item {% if loop.index > 10 %}hidden-item{% endif %}" data-index="{{ loop.index }}">
                        <a href="index.php?p=magazine&rivista={{loop.index}}">{{loop.index}}</a>
                    </li>                
                {% endfor %}
            </ul>
            
            {% if riviste|length > 10 %}
                <button class="nav-button load-more">
                    <span class="nav-text">+</span> <!--- TASTO "+" -->
                </button>
            {% endif %}
        </div>
        <hr>
    </footer>
{% endblock %}