{% block form %}
<form action="index.php" method="post" >
    <fieldset class="field">
        <input type="hidden" name="azione" value="registra" required><br>
        <label for="autore">Autore</label>
        <input id="input" type="text" name="autore" required><br>
        <label for="titolo">titolo</label>
        <input id="input" type="text" name="titolo" required><br>
        <label for="argomento">Argomento</label>    
        <select name="argomento" id="input">
            <option id="def_opt" disabled selected> --- </option> <!-- opzione di default -->
                <option id="option" name="argomento" value="intelligenza artificiale">Intelligenza artificiale</option>
                <option id="option" name="argomento" value="sostenibilità digitale">Sostenibilità digitale</option>
                <option id="option" name="argomento" value="cybersicurezza">Cybersicurezza</option>
                <option id="option" name="argomento" value="IoT">Internet Of Thigns</option>
                <option id="option" name="argomento" value="quantum computing">quantum computig</option>
                <option id="option" name="argomento" value="biotecnologie digitali">Biotecnologie digitali</option>
                <option id="option" name="argomento" value="sistemi operativi">Sistemi operativi</option>
                <option id="option" name="argomento" value="big data">Big data</option>
        </select><br> 
        <label for="testo">Testo</label>
        <input id="input" type="text" name="titolo" required><br>
    </fieldset>
    <input type="submit" value="INVIA" id="f2">
</form>
{% endblock %}