body {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkcyan;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 70px;
    flex-grow: 1;
    color: orange;
}

h3 {
    font-size: 40px;
    color: darkkhaki;
}