<!DOCTYPE html>
<html lang="it">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/pages.js" defer></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estate - esercizio 17</title>
    </head>
    <body>
        <h1>LORENZONI BIOTECH PRESS @GmbH</h1>
        <hr>
        <h2>Registra articoli</h2>
            {% include "blocks/form.article.twig" %}
        <hr>
        <h2>Pianifica numero riviste</h2>
            {% include "blocks/form.magazine.twig" %}
        {% include "blocks/footer.twig" %}
        <a href="index.php" id="link">HOMEPAGE</a>
    </body>
</html>