<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style.header.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estate - esercizio 17</title>
    </head>
    <body>
        {% include "blocks/header.twig" %}
        <h2>NUMERO RIVISTA:<i> <small>(sfoglia online)</small></i></h2>
            {% include "blocks/div.article.twig" %}
        <hr>
        <a href="index.php" id="link">HOMEPAGE</a>
    </body>
</html>